src/main/resources/fire.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="result" type="resultType"/>
  <xs:complexType name="frstFireInfoType">
    <xs:sequence>
      <xs:element type="xs:string" name="ocurDt" minOccurs="0"/>
      <xs:element name="ocurYoil" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="
             금 
        "/>
            <xs:enumeration value="
             목 
        "/>
            <xs:enumeration value="
             수 
        "/>
            <xs:enumeration value="
             화 
        "/>
            <xs:enumeration value="
             월 
        "/>
            <xs:enumeration value="
             일 
        "/>
            <xs:enumeration value="
             토 
        "/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="extingDt" minOccurs="0"/>
      <xs:element type="xs:string" name="exintgTm" minOccurs="0"/>
      <xs:element type="xs:string" name="ocurGm" minOccurs="0"/>
      <xs:element type="xs:string" name="ocurDo" minOccurs="0"/>
      <xs:element type="xs:string" name="ocurSgg" minOccurs="0"/>
      <xs:element type="xs:string" name="ocurEmd" minOccurs="0"/>
      <xs:element type="xs:string" name="ocurRi" minOccurs="0"/>
      <xs:element type="xs:string" name="ocurJibun" minOccurs="0"/>
      <xs:element type="xs:string" name="ownerSec" minOccurs="0"/>
      <xs:element type="xs:string" name="ocurCause" minOccurs="0"/>
      <xs:element type="xs:string" name="dmgArea" minOccurs="0"/>
      <xs:element type="xs:string" name="dmgMoney" minOccurs="0"/>
      <xs:element type="xs:string" name="riskAvg" minOccurs="0"/>
      <xs:element type="xs:string" name="riskMax" minOccurs="0"/>
      <xs:element type="xs:string" name="tempAvg" minOccurs="0"/>
      <xs:element type="xs:string" name="humidCurr" minOccurs="0"/>
      <xs:element type="xs:string" name="humidRel" minOccurs="0"/>
      <xs:element type="xs:string" name="humidMin" minOccurs="0"/>
      <xs:element type="xs:string" name="windMax" minOccurs="0"/>
      <xs:element type="xs:string" name="windAvg" minOccurs="0"/>
      <xs:element type="xs:string" name="dirMax" minOccurs="0"/>
      <xs:element type="xs:string" name="dirAvg" minOccurs="0"/>
      <xs:element type="xs:string" name="rainDays" minOccurs="0"/>
      <xs:element type="xs:string" name="rainAmount" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="resultType">
    <xs:sequence>
      <xs:element type="xs:string" name="key"/>
      <xs:element type="xs:string" name="totalCnt"/>
      <xs:element type="xs:string" name="pageUnit"/>
      <xs:element type="xs:string" name="pageIndex"/>
      <xs:element type="xs:string" name="searchStDt"/>
      <xs:element type="xs:string" name="searchEdDt"/>
      <xs:element name="frstFireInfo" maxOccurs="unbounded" minOccurs="0">
        <xs:complexType mixed="true">
          <xs:sequence>
            <xs:element type="xs:string" name="ocurDt" minOccurs="0"/>
            <xs:element name="ocurYoil" minOccurs="0">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="
             금 
        "/>
                  <xs:enumeration value="
             목 
        "/>
                  <xs:enumeration value="
             수 
        "/>
                  <xs:enumeration value="
             화 
        "/>
                  <xs:enumeration value="
             월 
        "/>
                  <xs:enumeration value="
             일 
        "/>
                  <xs:enumeration value="
             토 
        "/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element type="xs:string" name="extingDt" minOccurs="0"/>
            <xs:element type="xs:string" name="exintgTm" minOccurs="0"/>
            <xs:element type="xs:string" name="ocurGm" minOccurs="0"/>
            <xs:element type="xs:string" name="ocurDo" minOccurs="0"/>
            <xs:element type="xs:string" name="ocurSgg" minOccurs="0"/>
            <xs:element type="xs:string" name="ocurEmd" minOccurs="0"/>
            <xs:element type="xs:string" name="ocurRi" minOccurs="0"/>
            <xs:element type="xs:string" name="ocurJibun" minOccurs="0"/>
            <xs:element type="xs:string" name="ownerSec" minOccurs="0"/>
            <xs:element type="xs:string" name="ocurCause" minOccurs="0"/>
            <xs:element type="xs:string" name="dmgArea" minOccurs="0"/>
            <xs:element type="xs:string" name="dmgMoney" minOccurs="0"/>
            <xs:element type="xs:string" name="riskAvg" minOccurs="0"/>
            <xs:element type="xs:string" name="riskMax" minOccurs="0"/>
            <xs:element type="xs:string" name="tempAvg" minOccurs="0"/>
            <xs:element type="xs:string" name="humidCurr" minOccurs="0"/>
            <xs:element type="xs:string" name="humidRel" minOccurs="0"/>
            <xs:element type="xs:string" name="humidMin" minOccurs="0"/>
            <xs:element type="xs:string" name="windMax" minOccurs="0"/>
            <xs:element type="xs:string" name="windAvg" minOccurs="0"/>
            <xs:element type="xs:string" name="dirMax" minOccurs="0"/>
            <xs:element type="xs:string" name="dirAvg" minOccurs="0"/>
            <xs:element type="xs:string" name="rainDays" minOccurs="0"/>
            <xs:element type="xs:string" name="rainAmount" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>