src/main/java/wscproj/test1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="result" type="resultType"/>
  <xs:complexType name="gdTrailInfoType">
    <xs:sequence>
      <xs:element name="mntnCd">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="2809040100"/>
            <xs:enumeration value="2816132100"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="mntNm">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value=" 지리산 "/>
            <xs:enumeration value=" 지리산(통영) "/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="subNm">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value=" 백두의 끝, 역사의 피와 눈물이 함께 묻혀있는 이상향 "/>
            <xs:enumeration value=" 경상남도 통영시 사량면(蛇梁面)에 있는 산 "/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="areaNm">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value=" 전라북도 남원시,전라남도 구례군,경상남도 하동군,경상남도산청군,경상남도 함양군 "/>
            <xs:enumeration value=" 경상남도 통영시 사량면 "/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="mntHeight">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="1915.4"/>
            <xs:enumeration value="399.3"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="aeatReason">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value=" &lt;P>신라 5악중 남악으로 남한 내륙의 최고봉인 천왕봉(1,915m)을 주봉으로 노고단(1,507m), 반야봉(1,751m) 등 동서로 100여리의 거대한 산악군을 이뤄 &quot;지리산 12동천&quot;을 형성하는 등 경관이 뛰어나고 우리나라 최대의 자연생태계 보고이며 국립공원 제1호로 지정(1967년)된 점 등을 고려하여 선정, 어리석은 사람이 머물면 지혜로운 사람으로 달라진다고 한데서 산이름이 유래.화엄사, 천은사, 연곡사, 쌍계사 등이 유명&lt;/P> "/>
            <xs:enumeration value=" &lt;P>한려수도의 빼어난 경관과 조화를 이루고 특히 불모산, 가마봉, 향봉, 옥녀봉 등 산 정상부의 바위산이 기암괴석을 형성하고 조망이 좋은 점 등을 고려하여 선정,&quot;지리산이 바라 보이는 산&quot;이란 뜻에서 산이름이 유래하였으며, 현지에서는 지리산이라고도 불리워지고 있음. 다도해의 섬을 조망할 수 있으며 기묘한 바위 능선이 특히 유명&lt;/P> "/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="overView">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value=" &lt;P>&amp;lt;3도 여섯고을에 걸친 거대한 산국&amp;gt;&lt;BR>지리산은 크다. 높고도 넓고 그리고 깊다. 3도 여섯 고을―함양, 산청, 하동, 구례, 남원, 운봉[현]에 그림자 드리운 거대한 산국(山國)이다. 1000미터 이상의 주릉만 해도 110리나 된다. 실상사 서쪽 덕두산(1149.9m)에서 천왕봉 북쪽 쑥밭재(1315.4m)까지다(도상거리 기준이며 노고단∼천왕봉 줄자 실측 결과는 34.2km다). 삼남의 지붕 용마루가 된다. &lt;BR>&lt;BR>용마루에서는 열댓 개의 내림마루가 흘러내리고 있다. 내림마루 사이에는 또 그만큼의 골짜기들이 있다. 하여 모두 1억4천만평의, 장엄한 산덩이를 이룬다. 그 안에는 10경이 있다. 노고단 운해, 피아골 단풍, 반야봉 낙조, 벽소령 명월, 세석평전 철쭉, 불일폭포, 연하천 선경(仙景), 천왕봉 일출, 칠선계곡, 섬진강 맑은 물이다. &lt;BR>&lt;BR>최고 전망대는 왕시루봉(1243m)이다. 거기서 섬진강은 모래밭의 살얼음처럼 반짝이고 천왕봉은 하늘 저 높은 곳에서 제석봉과 촛대봉을 거느리고 내려다보고 있다. 불교문화의 보고이기도 하다. 쌍계사, 연곡사, 화엄사, 천은사, 실상사, 벽송사, 그리고 돌탑 둘만 뎅그런 단속사지다. 모두 합해 국보 일곱에 스물다섯 개의 보물을 갖고있다. &lt;BR>&lt;BR>금강산, 한라산과 함께 삼신산의 반열에 올라있다. 방장산, 두류산, 불복산이라 불리기도 했다. 뜻으로는 지혜(智慧)로운 이인(異人)이 나타날 산이다.&lt;/P> "/>
            <xs:enumeration value=" &lt;P>&amp;lt;지리산 바라보이는 사량도 지리산&amp;gt;&lt;BR>지리산은 한려해상국립공원에 있는 사량도에 위치한 산으로 본래 이름은 지리망산이다. 이 명칭은 국립공원 1호인 지리산이 조망된다는 뜻으로 붙여졌다고 한다. 윗섬과 아랫섬으로 나뉘어져 있는데 이들 두 섬 사이를 동강이라고 부른다. 지리산은 사량도의 주섬인 윗섬에 자리하고 있다. 지리산의 여러 봉우리 중 옥녀봉이 빼어난 산세와 조망을 제공해 가장 유명하다. 그러나 암봉으로 이어진 능선길은 다소 위험한데 초보자를 위해 우회로가 있다. 옥녀봉은 유명한 전설을 간직한 봉우리기도 하다.&lt;BR>&lt;BR>어릴 때 어머니를 여읜 옥녀가 예쁘게 성장하자 천륜을 저버린 아버지가 옥녀를 범하려 해 옥녀가 험한 봉우리에서 몸을 바다로 던졌다고 한다. 봉긋한 산봉우리 형상이 여인의 가슴을 닮았을 뿐 아니라 풍수지리설로도 산세가 여인이 거문고를 타는 옥녀 탄금형이라 옥녀봉의 지명 유래에 힘을 보태준다.&lt;/P> "/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="details">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value=" &lt;P>명산일수록 숱한 이름속에 둘러쌓여 있기 마련이다. 예로부터 지리산은 백두대간의 맥이 크게 끝나는 곳으로 '택리지'에서는 두류산이라고 하였으며 진시황 시절 삼신산의 하나로 '방장산'이란 이름을 쓰기도 했다. 그리고 '지이산'은 '지혜가 다른 산' '천재지변을 미리 아는 지혜 있는 산'이라 표현하는 등 이름의 숱한 전설이 스며 있다. &lt;BR>&lt;BR>「금강산은 빼어나되 웅장하지 못하고, 지리산은 웅장하되 빼어나지 못하고」라는 서산대사의 비유가 있듯 지리산은 날카롭고 빼어남은 부족하나 웅장하고 두리뭉실한 기운이 돋보인다. 행정구역상 경남 산청군 시천면 중산리 山 208번지에 소재한 천왕봉(1,915m)을 주봉으로 반야봉(1,732m), 노고단(1,507m)이 대표적이며, 천왕봉에서 노고단을 잇는 100리 능선에는 1천 5백미터가 넘는 고봉이 10개, 1천미터가 넘는 봉우리가 20여개나 있을 정도로 높고 크다. 평평한 고원지대도 많이 발달해 야생화나 철쭉 등이 장관을 이루기도 한다. 산세가 험하지 않으면서 봉우리가 80개에 달하다보니 봉우리 사이로 계곡이 발달했다. &lt;BR>&lt;BR>계곡물이 많고 경사도가 심하지 않는 특징이 있다. 중산리계곡, 대원사계곡, 거림계곡, 장당계곡, 뱀사골계곡, 화엄사계곡, 심원계곡, 피아골계곡, 한신(백무동)계곡, 칠선계곡 등 유명 계곡만도 20여개가 있다.&lt;/P> "/>
            <xs:enumeration value=" &lt;P>&quot;환상의 섬&quot; 사량도 그 중간에 우뚝솟은 또 다른 &quot;지리산&quot;(398m) 힘겹게 오른 옥녀봉서 바라보는 한려수도와 하산후의 싱싱한 회맛 눈과 입이 즐겁다 환상의 섬！ 사량도가 더욱 아름답게 새로이 태어났다.&lt;BR>&lt;BR>감추어졌던 사량도의 비경들이 이제 수많은 산꾼들과 여행자들에게 흐뭇하게 그 매혹적인 자태를 드러내게 된 것이다. 통영시에서 펼친 관광개발로 대항해수욕장이 조성되고 여객선 터미널이 새롭게 단장되고 위험했던 등산로가 야무지게 정비되는 등 찾는 이들의 안전과 편의를 개선하여 사량도는 수많은 관광객들로 붐비고 있다.&lt;BR>&lt;BR>사량도는 통영시 사량면에 해당하는 섬으로 우리나라 남단 다도해 한려해상공원에 둘러싸인 아름다운 섬이다. 사량도는 섬 자체가 뱀 모양으로 생겼고 뱀이 많다고 해서 붙인 이름이라 하는데, 한 남자가 이룰 수 없는 사랑에 괴로워하다 상사병으로 죽어뱀이 되었다는 이야기도 전해온다.삼천포시 앞바다의 잔잔한 물결을 가르고 사량도 상도에 도착하면 섬 가운데 우뚝 솟은 지리산을 볼 수 있다.&lt;BR>&lt;BR>본래는 우리에게 잘 알려져 있는 전라도와 경상도에 걸친 장대한 지리산이 바라다보여 「지이망산」이라 불리다가 그 말이 줄어 「지리산」이 된 것이다. 높이는 얼마되지 않지만 한려수도의 빼어난 경관과 어우러져 그 어느 명산 못지 않게 절묘한 경관을 간직하고 있다.&lt;BR>&lt;BR>산에 오르는 길은 여럿 있으나 돈지포구를 시발점으로 지리산 옥녀봉을 거치는 능선을 타고 진촌으로 빠지는 코스를 택하는 것이 이 산의 진면목을 가장 잘 즐길 수 있는 방법이다.돈지는 수려한 경관의 바위산과 푸른 물살이 넘실대는 바다를 배경으로한 한폭의 그림같은 순박한 섬마을이다. 마을을 빠져나와 산을 오르기 시작하면 돌밭길이 나오는데 시야에 들어오는 바다 풍경 덕에 돌길이 지루하지 않고 아기자기하기만 하다. 행여 주위 경관에 시선을 빼앗겨 발이라도 헛디딜까 걱정이 될 정도다.&lt;/P> "/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="trailPlusType" name="trailPlus" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element name="transport">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value=" &lt;P>기점은 구례, 진주, 함양이다. 구례에서 화엄사행 버스는 수시로 있으며 쌍계사행은 13회, 성삼재행은 8회 있다. 진주에서 중산리행은 16회, 함양에서 백무동행은 18회 있다. 구례는 하루 13회(용산발 기준) 다니는 전라선 열차를 이용하는 것이 좋으며 진주나 함양으로는 버스가 편하다. 진주는 서울 남부터미널에서 우등버스가 30분 간격(심야 3회), 부산 노포동터미널에서 20분 간격, 대구 서부정류장에서 45분 간격, 대전 동부터미널에서 한 시간 간격으로 다닌다. &lt;BR>&lt;BR>인천, 청주, 울산, 전주, 광주, 여수에서도 버스가 있다. 함양으로는 동서울터미널에서 12회(심야 2회), 남부터미널에서 8회 운행한다. 부산에서는 15분, 대구에서는 30분 간격으로 다니며 인천, 수원, 광주, 전주에서도 버스가 있다.&lt;/P> "/>
            <xs:enumeration value=" &lt;P>기점은 통영이다. 도산 가오치선착장에서 여객선을 타고 간다. 고성 용암포, 삼천포여객터미널에도 사량도 가는 배가 있다.&lt;BR>통영→사량도 금평리 : 카페리 여객선이 1일 6회 운행(동계시 5회 운행), 차량 수송 가능.&lt;/P> "/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="tourismInf">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value=" &lt;P>● 숙식 및 기타정보&lt;BR>지리산 일대에는 별미가 많으니 맛집부터 찾아본다. 화엄사로 들어가는 길목의 남악가든(☎061-782-2715)은 오리전문점으로 정평이 나있다. 쌍계사 입구 화개에서는 섬진강의 참게와 재첩국, 은어튀김을 꼭 맛봐야한다. 태봉식당(☎055-883-2466) 동흥식당(☎055-883-8333) 뱀사골에는 청정 산나물로 만든 산채비빔밥과 닭백숙이 유명한 청송가든(☎063-636-3563)이 있다.&lt;BR>산기슭의 잘 곳은 구례쪽을 제외하고는 다 민박이다. 화엄사 주변에는 지리산프라자호텔 ☎061-782-2171 화엄각여관 ☎061-782-0997 쌍계사쪽은 쌍계별장 ☎055-883-1665 섬진강식당 ☎055-883-2345 중산리는 천왕봉의 집 ☎055-972-1155 두류산장 ☎055-972-1289 백무동은 백무산장휴게소 ☎055-962-5211 참샘집 ☎055-962-5332 &lt;BR>&lt;BR>● 이용문의&lt;BR>지리산국립공원 동부관리사무소 ☎055-942-7771~2 남부관리사무소 ☎061-783-9100~1 북부관리사무소 ☎063-625-8911~2&lt;/P> "/>
            <xs:enumeration value=" &lt;P>● 숙식 및 기타 정보&lt;BR>사량도 각 마을에서 민박집을 운영한다. &lt;BR>사량유스호스텔 (☎ 055-641-8247)&lt;BR>&lt;BR>● 이용문의&lt;BR>사량면사무소 ☎ 055-642-6119&lt;/P> "/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="etcCourse">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value=" &lt;P>① 중산리-칼바위-망바위-법계사(로타리대피소)-천왕샘-천왕봉-중산리(총 8시간)&lt;BR>② 성삼재-노고단-임걸령-노루목-반야봉-화개재-뱀사골-반선(총 7시간 30분)&lt;BR>③ 거림-세석대피소-연하봉-제석봉-천왕봉-중산리(총 9시간)&lt;/P> "/>
            <xs:enumeration value=" &lt;P>① 금북개-지리산-달바위-가마봉-옥녀봉-진촌 (총 4시간 40분)&lt;BR>② 대항-달바위-가마봉-옥녀봉-진촌 (총 2시간 50분)&lt;/P> "/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="flashUrl"/>
      <xs:element type="xs:string" name="videoUrl"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="trailPlusType">
    <xs:sequence>
      <xs:element name="tpNo">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="1"/>
            <xs:enumeration value="2"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="tpTitl">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value=" 쌍계사 십리벚꽃길과 화개장터 "/>
            <xs:enumeration value=" 천년고찰 화엄사 "/>
            <xs:enumeration value=" 통영 향토역사관 "/>
            <xs:enumeration value=" 통영의 재래시장 중앙시장 "/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="tpContent">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value=" &amp;lt;p&amp;gt;쌍계사에서 화개장터에 이르는 도로변으로 난 10리 벚꽃길. 매월 4월 초순이면 수령 60년 아름드리 벚나무가 하늘을 덮고 하얀 꽃비를 내려 장관을 이룬다. 이 길을 따라 나오면 옛 시골장터의 정겨움을 흠뻑 느낄 수 있는 화개장터가 지나가는 길손들의 발길을 멈추게 만든다.&amp;lt;/p&amp;gt; "/>
            <xs:enumeration value=" &amp;lt;p&amp;gt;백제 성왕 22년에 창건된 고찰로 각황전(국보 67호), 4사자3층석탑(국보 35호), 각황전 앞 석등(국보 12호), 영산회괘불탱(국보 301호), 대웅전(보물 299호), 동서5층석탑(보물 132/133호), 원통전 앞 사자탑(보물 300호), 서5층석탑 사리장엄구(보물 1348호), 대웅전 삼신불탱(보물 1363호) 등 수많은 문화재를 간직하고 있다. 보제루의 간이박물관에서는 각황전(覺皇殿)의 이름을 낳은 석경(石經) 조각들을 볼 수 있는데 임진왜란때 절이 불타며 깨진 것이다.&amp;lt;/p&amp;gt; "/>
            <xs:enumeration value=" &amp;lt;p&amp;gt;통영의 문화재와 유적 등을 한 번에 듣고, 보고, 배울 수 있는 곳이다. 총 2천5백여 점의 향토 관련 유물이 있으며 통영의 전승 공예품도 전시한다. 통영시 태평동에 위치하며 역사관 바로 옆에 세병관도 있어 이어 관람할 수 있다.&amp;lt;/p&amp;gt; "/>
            <xs:enumeration value=" &amp;lt;p&amp;gt;통영 시내 중간에는 항구를 낀 시장이 있다. 중앙시장은 통영에서 값싸고 싱싱하게 맛볼 수 있는 해산물과 활어는 물론 통영의 맛집과 전통 재래시장의 모습도 엿볼 수 있다.&amp;lt;/p&amp;gt; "/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="resultType">
    <xs:sequence>
      <xs:element type="xs:string" name="key"/>
      <xs:element type="xs:string" name="totalCnt"/>
      <xs:element type="xs:string" name="pageUnit"/>
      <xs:element type="xs:string" name="pageIndex"/>
      <xs:element type="xs:string" name="searchCnm"/>
      <xs:element type="xs:string" name="searchNm"/>
      <xs:element type="gdTrailInfoType" name="gdTrailInfo" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>