src/main/java/wscproj/weather.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="metadata" type="metadataType"/>
  <xs:complexType name="resultSummaryType">
    <xs:sequence>
      <xs:element type="xs:string" name="totalCnt"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="itemsType">
    <xs:sequence>
      <xs:element type="xs:string" name="obsname"/>
      <xs:element type="xs:string" name="localarea"/>
      <xs:element type="xs:string" name="tm10m"/>
      <xs:element type="xs:string" name="hm10m"/>
      <xs:element type="xs:string" name="wd10m"/>
      <xs:element type="xs:string" name="wd10mstr"/>
      <xs:element type="xs:string" name="ws10m"/>
      <xs:element type="xs:string" name="rn"/>
      <xs:element type="xs:string" name="cprn"/>
      <xs:element type="xs:string" name="pa"/>
      <xs:element type="xs:string" name="ts"/>
      <xs:element type="xs:string" name="tm2m"/>
      <xs:element type="xs:string" name="hm2m"/>
      <xs:element type="xs:string" name="wd2m"/>
      <xs:element type="xs:string" name="wd2mstr"/>
      <xs:element type="xs:string" name="ws2m"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="obsid"/>
  </xs:complexType>
  <xs:complexType name="outputDataType">
    <xs:sequence>
      <xs:element type="itemsType" name="items"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="inputDataType">
    <xs:sequence>
      <xs:element type="xs:string" name="keyValue"/>
      <xs:element type="xs:string" name="version"/>
      <xs:element type="xs:string" name="localarea"/>
      <xs:element type="xs:string" name="obsid"/>
      <xs:element type="xs:string" name="tm"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="metadataType">
    <xs:sequence>
      <xs:element type="resultSummaryType" name="resultSummary"/>
      <xs:element type="inputDataType" name="inputData"/>
      <xs:element type="outputDataType" name="outputData"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>